@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: whitesmoke;
}

.container {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.title {
  font-size: 36px;
  color: rgb(236, 42, 42);
}

.timer {
  font-size: 100px;
  color: rgb(53, 50, 50);
  font-weight: 700;
  margin: 20px;
}

button {
  font-size: 22px;
  padding: 10px 25px;
  margin: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  transition: opacity 0.3s;
}

button:hover {
  opacity: 0.7;
}

#start {
  background-color: #27ae60;
}

#stop {
  background-color: #b61b16;
}

#reset {
  background-color: rgb(105, 6, 161);
}
